# HMR/Polling beállítás React-scripts v5+ esetén
WEBPACK_DEV_SERVER_WEBPACK_OPTIONS={"watchOptions":{"followSymlinks":true,"poll":1000}}

# További szükséges HMR beállítások
WDS_SOCKET_PORT=0
HOST=0.0.0.0
CHOKIDAR_INTERVAL=1000

# Felhasználói jogosultságok, ha szükséges
HOST_UID=
HOST_GID=
